.Bear{
    width: 100%;
    height: 100%;
    background-color: indianred;
    margin-left: auto;
    margin-right: auto;
}
.b{
    width:1000px;
    height: 1000px;
    margin: 10px;
    display: inline-block;
     background-size: cover;
     background-repeat: no-repeat;
}

.Birds{
    width: 100%;
    height: 100%;
    background-color: indianred;
    margin-left: auto;
    margin-right: auto;
}
.bi{
    width:1000px;
    height: 1000px;
    margin: 10px;
    display: inline-block;
     background-size: cover;
     background-repeat: no-repeat;
}

.Cat {
    width: 100%;
    height: 100%;
    background-color: indianred;
    margin-left: auto;
    margin-right: auto;
}
.c{
    width:1000px;
    height: 1000px;
    margin: 10px;
    display: inline-block;
     background-size: cover;
     background-repeat: no-repeat;
}

.Dog{
    width: 100%;
    height: 100%;
    background-color: indianred;
    margin-left: auto;
    margin-right: auto;
}
.d{
    width:1000px;
    height: 1000px;
    margin: 10px;
    display: inline-block;
     background-size: cover;
     background-repeat: no-repeat;
}

.Cow{
    width: 100%;
    height: 100%;
    background-color: indianred;
    margin-left: auto;
    margin-right: auto;
}
.co{
    width:1000px;
    height: 1000px;
    margin: 10px;
    display: inline-block;
     background-size: cover;
     background-repeat: no-repeat;
}

.Mouse{
    width: 100%;
    height: 100%;
    background-color: indianred;
    margin-left: auto;
    margin-right: auto;
}
.m{
    width:1000px;
    height: 1000px;
    margin: 10px;
    display: inline-block;
     background-size: cover;
     background-repeat: no-repeat;
}

.Pig{
    width: 100%;
    height: 100%;
    background-color: indianred;
    margin-left: auto;
    margin-right: auto;
}
.p{
    width:1000px;
    height: 1000px;
    margin: 10px;
    display: inline-block;
     background-size: cover;
     background-repeat: no-repeat;
}

.Rabbit{
    width: 100%;
    height: 100%;
    background-color: indianred;
    margin-left: auto;
    margin-right: auto;
}
.r{
    width:1000px;
    height: 1000px;
    margin: 10px;
    display: inline-block;
     background-size: cover;
     background-repeat: no-repeat;
}

